.text {
    font-family: 'Roboto Mono', "Times New Roman", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    color: rgb(255, 185, 80);
    text-shadow: rgb(0, 0, 0) 2px 2px 15px;
}

.container {
    left: 50%;
    top: 50%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
}


body {
    background-color: rgb(26, 26, 26);
}